<!DOCTYPE html>
<html>
    <head>
      {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %}{{ APP_NAME }}{% endblock %}</title>

        {# CSS #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {# JS #}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
      {% endblock %}
    </head>
    <body>
        {% block body %}
          <div id="root" 
            {% if is_granted('IS_AUTHENTICATED_FULLY') %} data-auth="" {% endif %} 
            {% if is_granted('ROLE_ADMIN') %} data-admin="" {% endif %} 
            data-app-name="{{ APP_NAME }}"
            data-routes="{{ ROUTE_URLS|json_encode }}"
            {% block dataset %}{% endblock %}
          >
          </div>
        {% endblock %}
    </body>
</html>
